@font-face {
    font-family: "sourcecode";
    src: 
    url('fonts/sourcecodepro-black-webfont.woff') format('woff'),
    url('fonts/sourcecodepro-black-webfont.woff2') format('woff2');
 font-weight: normal;
font-style: normal;
}

p{
    font-family: 'sourcecode';
}